.main_container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.title {
  font-size: 2rem;
  width: 100%;
  margin-bottom: 80px;
  padding-bottom: 16px;
  font-weight: bold;
}

.description {
  width: 80%;
  font-size: 1.3rem;
  text-align: center;
  line-height: 2rem;
}

.skills_title {
  font-size: 1.3rem;
  align-self: flex-start;
  margin-top: 32px;
}
