.main_container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(256, 256, 256, 0.2);
  backdrop-filter: blur(3px);
  z-index: 10;
}

.content_container {
  width: 1280px;
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 6px;
  margin: 0 24px;
}

.name {
  text-decoration: none;
  cursor: pointer;
  color: #c4c4c4;
  transition: scale 100ms ease-in-out;
  text-decoration: none;
  font-size: 1.5rem;
}

.name:hover {
  color: #fff;
  scale: 1.1;
}

.lang_button {
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  color: #c4c4c4;
  transition: scale 100ms ease-in-out;
}

.lang_button:hover {
  color: #fff;
  scale: 1.1;
}

@media (width < 768px) {
  .name {
    font-size: 1rem;
    display: flex;
    align-items: center;
  }
}
