.main_container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(256, 256, 256, 0.2);
  backdrop-filter: blur(3px);
}

.content_container {
  width: 1360px;
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 6px;
  margin: 0 24px;
}
