.main_container {
  display: flex;
}

.links_container {
  display: flex;
  gap: 16px;
}

.links {
  cursor: pointer;
  padding: 10px;
  font-weight: bold;
  color: #c4c4c4;
  font-size: 1rem;
  text-decoration: none;
  position: relative;
}

.links:hover {
  color: #fff;
}

.links::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #c4c4c4;
  transition: width 300ms ease-in-out;
}

.links:hover:before {
  left: 0;
  right: auto;
  width: 100%;
  background-color: #fff;
}

.burguer_toggle {
  display: none;
}

@media screen and (max-width: 700px) {
  .links_container {
    display: none;
  }

  .burguer_toggle {
    display: block;
    cursor: pointer;
  }
}
