.main_container {
  flex-basis: 360px;
  flex-grow: 1;
  flex-shrink: 1;
  border-radius: 16px;
  box-shadow: 0px 0px 4px 0px rgba(256, 256, 256, 1);
  transition: all 200ms ease-in-out;
}

.main_container:hover {
  box-shadow: 0px 0px 16px 0px rgba(256, 256, 256, 0.75);
}

.content_container {
  height: 100%;
  padding: 16px;
  text-decoration: none;
  color: CanvasText;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.info_container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title_container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title_container .title {
  font-size: 1.1rem;
  font-weight: bold;
}

.description {
  line-height: 1.2rem;
}

.stack {
  font-weight: bold;
}
