.main_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 24px 0;
  border-top: 1px solid rgba(256, 256, 256, 0.2);
  gap: 16px;
}

.social_container {
  display: flex;
  gap: 16px;
}

.social_container li {
  list-style: none;
}

.social_container li a {
  text-decoration: none;
  color: #c4c4c4;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
}

.social_container li a:hover {
  color: #fff;
}
