.main_container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.content_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.title {
  font-size: 2rem;
  width: 100%;
  margin-bottom: 64px;
  font-weight: bold;
}

@media (width < 768px) {
  .title {
    font-size: 1.5rem;
  }
}
